.appTitleStyle{
    color : red;
    font-size : 28.5px;
    background-color : purple;
    text-align : center;
    padding : 15px;
}

.appAuthorStyle{
    color : blue;
}

.appDescStyle{
    color : #282c34;
    font-family: "Times New Roman", Times, serif;
}

.appDateStyle{
    color : gray;
    font-style : italic;
}

.card{
   background-color: #ffda77; 
   box-shadow: 2px 4px 4px gray;
   border-radius: 5px;
   margin: 10px;
   padding: 10px; 
   width: 390px;
   display: inline-block;
}

.card .cardTitle{
    text-align: center;
    margin-bottom: 5px;
}

.card .cardBody{
    padding: 5px;
}

.cardBody .cardMessage{
    text-align: justify;
    margin-bottom: 5px;
}

.cardBody .cardFooter{
    text-align: right;
    font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
    .appSpinStyle {
      animation: element-spin infinite 20s linear;
    }
  }

@keyframes element-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}