.appTitleStyle{
    color : red;
    font-size : 28.5px;
    background-color : purple;
    text-align : center;
    padding : 15px;
}

.appAuthorStyle{
    color : blue;
}

.appDescStyle{
    color : #282c34;
    font-family: "Times New Roman", Times, serif;
}

.appDateStyle{
    color : gray;
    font-style : italic;
}